.blocktitle {
  display: flex;
  align-items: center;
  gap: 16px;
  margin-bottom: 24px;
}
.blocktitle h2 {
  color: #212025;
  font-size: 26px;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.15px;
  margin: 0;
}

.blocktitle p {
  color: #a0a0a0;
  font-size: 26px;
  font-weight: 700;
  line-height: normal;
  margin: 0;
}

@media (max-width: 885px){
  .blocktitle {
    margin-bottom: 16px;
    flex-direction: column;
    align-items: start;
    gap: 8px;
  }
}

@media (max-width: 663px) {

  .blocktitle h2 {
    font-size: 18px;
  }

  .blocktitle p {
    font-size: 17px;
  }
}
