.tabeven {
  margin: 0 auto;
  max-width: 1240px;
  background: var(--secondary-bg-color);
  display: flex;
  gap: 70px;
  padding: 40px 50px 120px;
  border-radius: 60px 60px 0 0;
  margin-bottom: -50px;
}
.tabodd {
  max-width: 1240px;
  margin: 0 auto;
  background: var(--gradient);
  display: flex;
  gap: 70px;
  padding: 40px 50px 120px;
  border-radius: 60px 60px 0 0;
  margin-bottom: -50px;
}

.cardsSide {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
