.paginationblock {
  display: flex;
  align-items: center;
  gap: 40px;
}

.scrollingcontainer::-webkit-scrollbar {
  width: 0px;
  height: 0px;
  background: rgba(255, 255, 255, 0);
}

.scrollingcontainer {
  height: max-content;
  display: flex;
  column-gap: 20px;
  overflow: scroll;
  width: calc(1240px - 32px - 80px - 24px);
  scroll-behavior: smooth;
}

.agrsliderblockvisible {
  display: flex;
  align-items: center;
}

.agrsliderblocknonvisible {
  display: none;
}

.nonactivebutton {
  width: max-content;
  height: 26px;
  white-space: nowrap;
  border: none;
  background: transparent;
  line-height: 24px;
  letter-spacing: 0.15px;
  cursor: pointer;
  font-size: 24px;
  font-weight: 300;
  color: var(--no-accent-color);
  transition: all 0.3s;
}

.activebutton {
  width: max-content;
  height: max-content;
  white-space: nowrap;
  border: none;
  background: transparent;
  line-height: 24px;
  letter-spacing: 0.15px;
  cursor: pointer;
  font-size: 24px;
  font-weight: 300;
  color: var(--accent-color);
  transition: all 0.3s;
  text-decoration: underline;
}

.agrslider {
  display: flex;
  align-items: center;
  gap: 16px;
}

.scrollbutton {
  border: none;
  background: transparent;
  cursor: pointer;
}

@media (hover: hover) {
  .nonactivebutton:hover {
    color: var(--accent);
  }
}

@media (max-width: 1439px) {
  .carouselinscrollcontainer {
    display: flex;
    width: calc(100vw - 180px);
  }

  .scrollingcontainer {
    overflow-x: scroll;
    width: 100%;
    height: max-content;
    display: flex;
    scroll-behavior: smooth;
    align-items: center;
  }

  .buttoncontainer {
    display: flex;
    gap: 16px;
    align-items: center;
  }

  .agrsliderblockvisible {
    display: flex;
    width: calc(100% - 92px);
    align-items: flex-start;
  }
}

@media (max-width: 1047px) {
  .carouselinscrollcontainer {
    display: flex;
    width: calc(100vw - 100px);
  }

  .agrsliderblockvisible {
    width: calc(100vw - 192px);
  }
}

@media (max-width: 663px) {
  .carouselinscrollcontainer {
    display: flex;
    width: calc(100vw - 40px);
  }

  .nonactivebutton {
    padding: 6px 12px;
  }

  .activebutton {
    padding: 6px 12px;
  }

  .buttoncontainer {
    gap: 5px;
  }

  .agrsliderblockvisible {
    width: calc(100vw - 112px);
  }
}
