.block {
    display: flex;
    gap: 70px;
    padding: 40px 50px;
    background: var(--secondary-bg-color);
    border-radius: 60px;
}

.leftSide h3 {
    margin-bottom: 8px;  
    font-weight: 300;
    font-size: 43px;  
}

.leftSide p{
    margin-bottom: 24px;
    color: var(--no-accent-color);
}