.featblock {
    display: grid;
    margin-top: 24px;
    justify-content: space-between;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 32px;
}

.main {
    color: #212025;
    font-size: 24px;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 0.15px;
    margin: 0;
}

.additional {
    color: #5d5d5d;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.15px;
    margin-top: 8px;
}

@media (max-width: 663px) {
    .featblock {
        display: flex;
        margin-top: 24px;
        flex-direction: column;
        gap: 16px;
    }
}
