:root {
    --bgcolor: #ffffff;
}

html {
  width: 100%;
  max-width: 100%;
  overflow-x: hidden;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

textarea {
  font-family: inherit;
}

button {
  font-family: inherit;
}

input {
  font-family: inherit;
}

a {
  text-decoration: none;
  color: #656565;
}

body {
  width: 1440px;
  margin-left: auto;
  margin-right: auto;
}

@media (max-width: 1439px) {
}

@media (max-width: 1047px) {
}

@media (max-width: 663px) {
}
