html {
    width: 100%;
    max-width: 100%;
    overflow-x: hidden;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

textarea {
    font-family: inherit;
}

button {
    font-family: inherit;
}

input {
    font-family: inherit;
}

a {
    text-decoration: none;
    color: #656565;
}

body {
    width: 1440px;
    margin-left: auto;
    margin-right: auto;
}

.gradient {
    width: 100vw;
    background: linear-gradient(0deg, #fff 27.31%, rgba(255, 255, 255, 0) 100%),
        linear-gradient(125deg,
            #f99277 0%,
            #cf9aba 23.67%,
            #b2a1de 45.42%,
            #abbdf2 71.83%,
            #e9f9fd 100%);
    padding-top: 100px;
    border-radius: 64px 0 0 0;
    margin-top: 110px;
}

.block {
    background-color: #fff;
    padding: 40px;
    width: 1240px;
    border-radius: 30px 30px 0 0;
    margin-left: 100px;
}

@media (max-width: 1439px) {
    body {
        width: 100%;
        max-width: 100%;
        overflow-x: hidden;
    }

    .block {
        width: auto;
        margin-left: 50px;
        margin-right: 50px;
    }
}

@media (max-width: 1047px) {

    .gradient {
        padding-top: 60px;
        border-radius: 44px 0 0 0;
    }

    .block {
        padding: 40px 20px;
        margin-left: 30px;
        margin-right: 30px;
    }
}

@media (max-width: 663px) {
    .gradient {
        margin-top: 70px;
        padding-top: 40px;
        border-radius: 24px 0px 0px 0px;
    }

    .block {
        padding: 16px 10px;
        border-radius: 16px 16px 0 0;
        margin-left: 10px;
        margin-right: 10px;
    }
}