.loaderblock {
    margin-top: 60px;
    margin-left: 100px;
    margin-right: 100px;
    width: 1240px;
    height: 50vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media (max-width: 1439px){
    .loaderblock {
        margin-top: 60px;
        margin-left: 50px;
        margin-right: 50px;
        width: calc(100vw - 100px);
    } 
}

@media (max-width: 1047px){
    .loaderblock {
        margin-top: 60px;
        margin-left: 30px;
        margin-right: 30px;
        width: calc(100vw - 60px);
    } 
}

@media (max-width: 1047px){
    .loaderblock {
        margin-top: 40px;
        margin-left: 10px;
        margin-right: 10px;
        width: calc(100vw - 20px);
    } 
}