.localemodal {
    position: absolute;
    z-index: 1;
    top: 60px;
    border-radius: 13px;
    box-shadow: 1px -1px 3px #e4e4e4, -1px 1px 3px #e4e4e4;
    background-color: #fff;
}

@media (max-width: 746px) {
    .localemodal {
        position: absolute;
        z-index: 1;
        top: 50px;
        right: 10px;
        border-radius: 13px;
        box-shadow: 1px -1px 3px #e4e4e4, -1px 1px 3px #e4e4e4;
        background-color: #fff;
    }
}