.main {
    width: 1240px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-left: 100px;
    margin-right: 100px;
    margin-top: 110px;
    gap: 80px;
}

.text {
    width: 511px;
    text-align: left;
    margin: 0;
}

.main h1 {
    width: auto;
    text-align: left;
    background: linear-gradient(90deg,
            #84585d 4.66%,
            #6f7691 28.89%,
            #100 53.34%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 70px;
    font-style: normal;
    font-weight: 700;
    line-height: 83px;
    letter-spacing: 0.15px;
}

.mainbuttons {
    display: flex;
    gap: 26px;
    align-items: center;
    margin-top: 40px;
}

.button1 {
    display: flex;
    gap: 16px;
    padding: 12px 24px;
    border-radius: 8px;
    background: #000;
    border-style: none;
    align-items: center;
    cursor: pointer;
    color: #fff;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.15px;
    transition: all 0.6s;
}

.button2 {
    color: #000;
    font-size: 18px;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.15px;
    text-decoration: none;
    border-bottom: 2px solid;
    cursor: pointer;
}

.main p {
    color: #5d5d5d;
    font-size: 20px;
    font-weight: 400;
    line-height: 1.5;
}

@media(hover:hover){
    .button1:hover {
        background: #282828;
        transition: all 0.6s;
    }
}

@media (max-width: 1439px) {
    .main {
        width: calc(100vw - 100px);
        margin-left: 50px;
        margin-right: 50px;
        margin-top: 96px;
        display: flex;
        align-items: center;
        gap: 32px;
    }

    .main h1 {
        width: auto;
        background: linear-gradient(90deg,
                #84585d 4.66%,
                #6f7691 28.89%,
                #100 53.34%);
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        font-size: 60px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        letter-spacing: 0.15px;
        margin: 0;
    }

    .main p {
        width: auto;
    }

    .mainright {
        margin: 0;
    }

    .text {
        width: auto;
    }
}

@media (max-width: 1047px) {
    .main {
        width: calc(100vw - 60px);
        margin-left: 30px;
        margin-right: 30px;
        margin-top: 92px;
        display: grid;
        grid-template-columns: 1fr;
        gap: 24px;
    }

    .mainbuttons {
        margin-top: 24px;
    }
}

@media (max-width: 663px) {
    .main {
        width: calc(100vw - 20px);
        margin-left: 10px;
        margin-right: 10px;
        margin-top: 64px;
        display: grid;
        grid-template-columns: 1fr;
        gap: 14px;
    }

    .main h1 {
        font-size: 27px;
    }

    .main p {
        font-size: 14px;
    }

    .mainbuttons {
        display: grid;
        gap: 12px;
        place-items: center;
    }

    .button1 {
        justify-content: center;
        width: calc(100vw - 20px);
        color: #FFF;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 24px;
        letter-spacing: 0.15px;
    }
    
    .button2 {
        width: max-content;
        color: #000;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: 24px;
        letter-spacing: 0.15px;
    }
}