.newsblock {
    display: flex;
    margin-left: 100px;
    margin-right: 100px;
    margin-top: 128px;
    justify-content: space-between;
    gap: 50px;
    align-items: flex-start;
}

.newsblock h1 {
    color: #000;
    font-size: 50px;
    font-weight: 700;
    line-height: 63px;
    letter-spacing: 0.15px;
    margin-bottom: 16px;
    margin-top: 0;
}

.newsblock p {
    color: #656565;
    font-size: 20px;
    font-weight: 400;
    line-height: 1.5;
    margin-bottom: 24px;
}

.newsbutt {
    border-radius: 8px;
    background: #000;
    color: #fff;
    padding: 12px 24px;
    border: none;
    transition: all 0.6s;
    width: max-content;
    font-size: 18px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.15px;
    font-family: 'DM Sans', sans-serif;
}

@media(hover:hover) {
    .newsbutt:hover {
        border-radius: 8px;
        background: #282828;
        color: #fff;
        padding: 12px 24px;
        border: none;
        transition: all 0.6s;
        cursor: pointer;
    }
}

@media (max-width: 1439px) {
    .newsblock {
        display: flex;
        margin-left: 50px;
        margin-right: 50px;
    }
}

@media (max-width: 1205px) {
    .newsblock img {
        width: 500px;
        height: auto;
    }
}

@media (max-width: 1047px) {
    .newsblock {
        margin-left: 30px;
        margin-right: 30px;
    }

    .newsblock img {
        width: 400px;
        height: auto;
    }

    .newsblock h1 {
        font-size: 42px;
        line-height: normal;
    }

    .newsblock p {
        color: #656565;
        font-size: 16px;
        font-weight: 400;
        line-height: normal;
        letter-spacing: 0.15px;
        margin-bottom: 24px;
    }
}

@media (max-width: 663px) {
    .newsblock {
        display: flex;
        flex-direction: column-reverse;
        margin-left: 10px;
        margin-right: 10px;
        margin-top: 72px;
        align-items: flex-start;
    }

    .newsblock img {
        width: calc(100vw - 20px);
        height: auto;
    }

    .newsblock h1 {
        color: #000;
        font-size: 27px;
        font-weight: 700;
        line-height: normal;
        letter-spacing: 0.15px;
    }

    .newsblock p {
        color: #656565;
        font-size: 14px;
        font-weight: 400;
        line-height: normal;
        letter-spacing: 0.15px;
    }

    .newsbutt {
        border-radius: 8px;
        background: #000;
        color: #fff;
        padding: 12px 24px;
        border: none;
        transition: all 0.6s;
        width: calc(100vw - 20px);
    }
}