.paginatedcardlist {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  gap: 16px;
  margin-bottom: 24px;
  margin-top: 12px;
  height: auto;
  width: auto;
}

.cardlistam {
  height: auto;
}

.paginationbuttons {
  display: flex;
  gap: 16px;
  width: 1160px;
  justify-content: center;
}

@media (max-width: 1439px) {
  .paginatedcardlist {
    place-items: center;
  }

  .paginationbuttons {
    width: auto;
  }

  .cardlistam {
    width: auto;
  }
}

@media (max-width: 1047px) {
  .paginatedcardlist {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    height: auto;
  }
}

@media (max-width: 663px) {
  .paginatedcardlist {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    place-items: start;
  }
}
