.carouselinscrollcontainer {
  width: 1160px;
  display: flex;
  align-items: flex-start;
}

.scrollingcontainer::-webkit-scrollbar {
  width: 0px;
  background: rgba(255, 255, 255, 0.0);
}

.paginationblock {
  width: auto;
}

.scrollingcontainer {
  overflow-x: scroll;
  width: 984px;
  height: max-content;
  display: flex;
  scroll-behavior: smooth;
}

.agrsliderblockvisible {
  display: flex;
  width: auto;
  align-items: flex-start;
}

.agrsliderblocknonvisible{
  display: none;
}

.buttoncontainer {
  display: flex;
  gap: 16px;
  height: max-content;
}

.nonactivebutton {
  width: max-content;
  height: 44px;
  cursor: pointer;
  padding: 10px 24px;
  border-radius: 13px;
  background: #f6f6f6;
  font-size: 14px;
  border-style: none;
  width: max-content;
  font-weight: 700;
  font-style: normal;
  margin: 0;
  border: 1px solid #fff;
  color: #1e1e21;
  transition: all 0.6s;
}

.activebutton {
  width: max-content;
  height: 44px;
  cursor: pointer;
  font-weight: 700;
  padding: 10px 24px;
  border-radius: 13px;
  background: #f6f6f6;
  font-size: 14px;
  border-style: none;
  width: max-content;
  font-style: normal;
  margin: 0;
  border: 1px solid #0d7dfd;
  color: #1e1e21;
}

.agrslider {
  display: flex;
  width: max-content;
  padding-left: 16px;
  height: 44px;
  align-items: center;
  gap: 16px;
  background: #fff;
  transition: all 0.6s;
}

.agrslider svg circle {
  transition: all 0.6s;
}

.agrslider svg path {
  transition: all 0.6s;
}

@media (hover:hover) {

  .nonactivebutton:hover {
    background: #e8e8e8;
    transition: all 0.6s;
  }

  .agrslider svg:hover circle {
    fill: #e8e8e8;
    cursor: pointer;
    transition: all 0.6s;
  }

  .agrslider svg:hover path {
    cursor: pointer;
    transition: all 0.6s;
  }
}

@media (max-width: 1439px) {
  .carouselinscrollcontainer {
    display: flex;
    width: calc(100vw - 180px);
  }

  .scrollingcontainer {
    overflow-x: scroll;
    width: 100%;
    height: max-content;
    display: flex;
    scroll-behavior: smooth;
    align-items: center;
  }

  .buttoncontainer {
    display: flex;
    gap: 16px;
    align-items: center;
  }

  .agrsliderblockvisible {
    display: flex;
    width: calc(100% - 92px);
    align-items: flex-start;
  }
}

@media (max-width: 1047px) {
  .carouselinscrollcontainer {
    display: flex;
    width: calc(100vw - 100px);
  }

  .agrsliderblockvisible {
    width: calc(100vw - 192px);
  }
}

@media (max-width: 663px) {
  .carouselinscrollcontainer {
    display: flex;
    width: calc(100vw - 40px);
  }

  .nonactivebutton {
    padding: 6px 12px;
  }

  .activebutton {
    padding: 6px 12px;
  }

  .buttoncontainer {
    gap: 5px;
  }

  .agrsliderblockvisible {
    width: calc(100vw - 112px);;
  }
}