.pptext {
    display: flex;
    justify-content: space-between;
    gap: 32px;
    margin-left: 100px;
    margin-right: 100px;
    margin-top: 66px;
}

.pptextleft {
    width: 525px;
}

.pptextleft h2 {
    color: #000;
    font-family: "DM Sans", sans-serif;
    font-size: 50px;
    font-style: normal;
    font-weight: 700;
    line-height: 63px;
    letter-spacing: 0.15px;
    margin-top: 0;
    margin-bottom: 24px;
}

.pptextleft p {
    color: #5d5d5d;
    font-family: "DM Sans", sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
    letter-spacing: 0.15px;
}

.pptextright {
    width: 610px;
}

.pptextright ul {
    list-style: disc;
    color: black;
    padding-left: 20px;
    margin-bottom: 16px;
}

.pptextright h4 {
    color: #212025;
    font-family: "DM Sans", sans-serif;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 0.15px;
    margin-top: 0;
    margin-bottom: 16px;
}

.pptextright p {
    color: #5d5d5d;
    font-family: "DM Sans", sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.15px;
    margin-bottom: 16px;
}

.pptextright h5 {
    color: #212025;
    font-family: "DM Sans", sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 0.15px;
    margin-top: 32px;
    margin-bottom: 8px;
}

.pptextright li {
    color: #5d5d5d;
    font-family: 'DM Sans', sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.15px;
}

@media (max-width: 1439px) {
    .pptext {
        width: calc(100vw - 100px);
        margin-left: 50px;
        margin-right: 50px;
        margin-top: 66px;
        gap: 32px;
    }

    .pptextleft {
        width: auto;
    }

    .pptextright {
        width: auto;
    }
}

@media (max-width: 1047px) {
    .pptext {
        width: calc(100vw - 60px);
        margin-left: 30px;
        margin-right: 30px;
        flex-direction: column;
    }

    .pptextleft {
        width: auto;
    }

    .pptextleft h2 {
        color: #000;
        font-family: 'DM Sans', sans-serif;
        font-size: 40px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        letter-spacing: 0.15px;
        margin: 0;
    }

    .pptextleft p {
        color: #5d5d5d;
        font-family: 'DM Sans', sans-serif;
        font-size: 20px;
        font-style: normal;
        font-weight: 400;
        line-height: 30px;
        width: auto;
        letter-spacing: 0.15px;
        height: max-content;
        margin-top: 16px;
    }

    .pptextright {
        width: auto;
    }
}

@media (max-width: 663px) {
    .pptext {
        width: calc(100vw - 20px);
        margin-left: 10px;
        margin-right: 10px;
        flex-direction: column;
    }

    .pptextleft {
        display: flex;
        flex-direction: column;
        width: auto;
        align-items: flex-start;
        gap: 16px;
    }

    .pptextleft h2 {
        color: #000;
        font-size: 27px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        letter-spacing: 0.15px;
        margin: 0;
    }

    .pptextleft p {
        color: #5d5d5d;
        font-size: 17px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        letter-spacing: 0.15px;
        height: max-content;
        margin-top: 0;
    }

    .pptextright {
        width: auto;
    }

    .pptextright h4 {
        color: #212025;
        font-size: 16px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        letter-spacing: 0.15px;
    }

    .pptextright p {
        color: #5d5d5d;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        letter-spacing: 0.15px;
    }

    .pptextright li {
        color: #5d5d5d;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        letter-spacing: 0.15px;
    }
}