.searchblock {
    display: flex;
    gap: 8px;
    width: 1160px;
    align-items: center;
    flex-direction: column;
    position: relative;
}

.opensearchclosed {
    margin-right: 16px;
    padding: 10px 24px;
    border: none;
    border-radius: 13px;
    background-color: #f6f6f6;
    display: flex;
    align-items: center;
    transition: all 0.6s;
    height: 44px;
}

.opensearchopen {
    display: none;
}

.namecat{
    display: flex;
    gap: 16px;
}

.notfound {
    margin: auto;
    color: #5d5d5d;
    text-align: center;
}

@media (hover:hover) {
    .opensearchclosed:hover {
        background-color: #e8e8e8;
        transition: all 0.6s;
        cursor: pointer;
    }

    .result a:hover {
        padding: 10px 24px;
        display: flex;
        gap: 16px;
        align-items: center;
        border-radius: 13px;
        background-color: #e8e8e8;
    }
}

.searchinputclosed {
    display: none;
}

.searchinputopen {
    width: 100%;
    display: flex;
    gap: 16px;
    align-items: center;
    margin-bottom: 16px;
    padding: 10px 24px;
    background-color: #f6f6f6;
    border-radius: 13px;
    height: 44px;
    justify-content: space-between;
    border: 1px solid #0D7DFD;
}

.searchinputopen button{
    height: 19.25px;
}

.inputimg {
    display: flex;
    gap: 16px;
    align-items: center;
    width: 100%;
}

.searchinputopen input {
    padding: 8px 12px;
    border: none;
    font-size: 16px;
    background-color: transparent;
    width: 100%;
    border-radius: 13px;
}

.searchinputopen input:focus {
    padding: 8px 12px;
    border: none;
    font-size: 16px;
    background-color: transparent;
    width: 100%;
    border-radius: 13px;
    outline: none;
}

.searchinputopen button {
    background: transparent;
    border: none;
    cursor: pointer;
}

.noresult {
    display: none;
}

.result {
    display: flex;
    flex-direction: column;
    position: absolute;
    border-radius: 13px;
    border: 1px solid #0D7DFD;
    top: calc(100% - 14px);
    width: 1160px;
    height: 250px;
    overflow-y: scroll;
    gap: 4px;
    background-color: #F6F6F6;
}

.result p {
    font-size: 18px;
    font-weight: 700;
    color: #1E1E21;
}

.result span {
    font-size: 16px;
    color: #656565;
}

.result a {
    padding: 10px 24px;
    display: flex;
    gap: 16px;
    align-items: center;
    border-radius: 13px;
    background-color: #F6F6F6;
}

@media (max-width: 1439px){
    .result{
        width: 100%;
    }
}

@media (max-width: 1047px){
    .searchinputopen{
        margin-bottom: 0;
    }

    .result{
        top: calc(100% + 2px);
    }
}


@media (max-width: 663px){
    .opensearchclosed {
        margin-right: 5px;
    }

    .result a {
        padding: 10px 12px;
    }

    .namecat{
        display: flex;
        flex-direction: column;
        gap: 4px;
    }

    .result{
        gap: 0;
    }

    .searchinputopen{
        padding: 10px 12px;
        gap: 8px;
    }

    .inputimg{
        gap: 8px;
    }
}