.categorylink {
    display: flex;
    color: #212025;
    font-size: 20px;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 0.15px;
    margin: 24px 0;
    border-radius: 12px;
    background: #F8F8F8;
    padding: 18px 24px;
    gap: 40px;
    align-items: center;
    width: max-content;
    height: max-content;
}

.cardlinkblock {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 16px;
}

.cardlink {
    width: auto;
    display: flex;
    align-items: center;
    padding: 12px 24px;
    gap: 16px;
    border-radius: 16px;
    background: #F8F8F8;
    font-size: 16px;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 0.15px;
    color: #212025;
}

@media (max-width: 1220px) {
    .cardlinkblock {
        grid-template-columns: 1fr 1fr 1fr;
    }
}

@media (max-width: 1047px) {

    .categorylink {
        font-size: 18px;
        font-weight: 500;
        line-height: normal;
        letter-spacing: 0.15px;
        margin: 24px 0;
        padding: 18px 24px;
        gap: 24px;
    }
}

@media (max-width: 800px){
    .cardlinkblock {
        grid-template-columns: 1fr 1fr;
    }
}

@media (max-width: 663px){

    .categorylink {
        font-size: 14px;
        font-weight: 500;
        line-height: normal;
        letter-spacing: 0.15px;
        margin: 16px 0;
        padding: 12px 24px;
        gap: 24px;
    }

    .cardlink {
        width: auto;
        display: flex;
        align-items: center;
        padding: 12px 24px;
        gap: 16px;
        border-radius: 16px;
        background: #F8F8F8;
        font-size: 14px;
    }
    
    .cardlink img {
        width: 30px;
        height: 30px;
    }
}

@media (max-width: 480px){
    .cardlinkblock {
        grid-template-columns: 1fr;
    }
}