.card {
    display: flex;
    align-items: center;
    gap: 8px;
    border-radius: 8px;
    background: var(--secondary-bg-color);
    padding: 12px;
    width: max-content;
}

.name {
    font-size: 16px;
    font-weight: 700;
}