.textblock {
  display: flex;
  flex-direction: column;
  gap: 16px;
  align-items: center;
}

.textblock h4 {
  font-weight: 100;
  font-size: 80px;
  line-height: 82px;
  text-align: center;
  max-width: 1000px;
}

.textblock p {
  font-weight: 300;
  color: var(--no-accent-color);
  text-align: center;
  max-width: 600px;
}

.cardsblock {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.cardsroweven {
  display: flex;
  gap: 12px;
}
.cardsrowodd {
  padding: 0 64px;
  display: flex;
  gap: 12px;
}
